*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    color: black;
}
.group{
   background-color: aliceblue; 
   
}
.nom{
    color: black;
    font-size: 6px;
}